{% extends "base.html" %}


{% block content %}





	<section>
		<div class="gap100 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="logout-meta">
							<form method="post" action="{% url 'account_logout' %}">
							<h1>SIGN OUT</h1>
								{% csrf_token %}
								{% if redirect_field_value %}
								<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
								{% endif %}
								<button type="submit">Sign Out</button>
							</form>
							

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>

{% endblock %}
