{% extends 'base.html' %}
{% load static  %}
{% block content %}
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="newsfeed.html"><img src="{%static  'images/logo.png' %}" alt=""></a>
		</div>
		
		{% include 'detail/topbar.html' %}
	


	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									
								

								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="editing-info">
								{% if messages %}
									{% for message in messages %}
										{% if warning in message.tags %}
											<div class="alert alert-danger" role="alert">
												You need to be the author of the post in order to delete it
											</div>
										{% endif %}
									{% endfor  %}
								{% else %}
										<h5 class="f-title"><i class="ti-info-alt"></i>Delete Post</h5>

										<form method="post">{% csrf_token %}
											<h6>Are you sure want to delete this post</h6>
											 	<p>{{ object.content }}</p>
											
											
											
											<div class="submit-btns">
												<button type="submit" class="mtr-btn"><span>Delete</span></button>
											</div>
										</form>
								{% endif  %}
									</div>
								</div>	
							</div><!-- centerl meta -->
							{% include 'detail/sidebar.html' %}
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	
	
{% endblock content %}