{% url 'posts:index' as path_main_page   %}


<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
			</span>
			
		</div>
		<div class="mh-head second" style="top: 34%">
			<form action="{% url 'profiles:search-profile' %}"  class="mh-form">
				<input type="search" name="q" id="search" placeholder="Search Friends "  />
				<button style="background: #4bb5ef;" type="submit" ><i class="fa fa-search"></i></button>
			</form>
			
		</div>
		<nav id="menu" class="res-menu">
			<ul class="main-menu">
				<li>
					<a href="{{ path_main_page }}" title="">Home</a>
				</li>
				<li>
					<a href="#" title="">Friend</a>
					<ul>
						<li><a href="{{ path_my_invites }}" title=""> Received Invites &nbsp; {{invites_num}}</a></li>
						<li><a href="{{ path_invites_profiles }}" title="">Send Invites </a></li>
					</ul>
				</li>
				<li>
					<a href="#" title="">account </a>
					<ul>
						<li><a href="{% url 'profiles:my-profile' %}" title="">edit profile basics</a></li>
						<li><a href="{% url 'profiles:profiles-list-view' %}" title="">profiles</a></li>
						<li><a href="#" title="">friends</a></li>
						<li><a href="#" title="">edit-password</a></li>
					</ul>
				</li>
				
			</ul>
		</nav>
	
	</div><!-- responsive header -->