{% extends 'base.html ' %}
{% load static %}

	
{% block content %}
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="newsfeed.html"><img src="images/logo.png" alt=""></a>
		</div>
		
		{% include 'detail/topbar.html' %}
	
		<section>
			<div class="feature-photo">
				<figure><img src="{% static 'images/resources/timeline-1.jpg' %}" alt=""></figure>
			
				<div class="container-fluid">
					<div class="row merged">
						<div class="col-lg-2 col-sm-3">
							<div class="user-avatar">
								<figure>
									<img src="{{ profile.avatar.url }}" alt="">
									
								</figure>
							</div>
						</div>
						<div class="col-lg-10 col-sm-9">
							<div class="timeline-info">
								<ul>
									<li class="admin-name">
									  <h5>{{profile.user}}</h5>
									</li>
									<li>
										
										<a class="" href="{% url 'posts:index' %}" title="" data-ripple="">Home  </a>
										
										<a class="active" href="{% url 'profiles:profiles-list-view' %}" title="" data-ripple="">Profiles</a>
									
										
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- top area -->

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									{% include 'detail/shortcuts.html' %}
								
								</aside>
				</div><!-- sidebar -->
				<div class="col-lg-6">
					<div class="central-meta">
						<div class="frnds">
							<ul class="nav nav-tabs">
								 <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">All Profiles </a> </li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
							  <div class="tab-pane active fade show " id="frends" >
								<ul class="nearby-contct">
								{% for obj in object_list  %}
							<li>
								<div class="nearly-pepls">
									<figure>
										<a href="{{ obj.get_absolute_url }}" title=""><img src="{{ obj.avatar.url }}" alt=""></a>
									</figure>
									<div class="pepl-info">
										<h4><a href="{{ obj.get_absolute_url }}" title="">{{ obj.user }}</a></h4>
										
									{% if obj.user not in rel_receiver and obj.user not in rel_sender %}
										<form action="{% url 'profiles:send_inva' %}" method="POST">
			                                {% csrf_token %}
			                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
			                                <button  type="submit"  class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add to friends</button>
			                            </form>
			                            {% endif  %}

									 {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
			                            <button style="margin-left: 4%" class="btn btn-outline-secondary btn-lg btn-sm" >
			                            	<i class="fa fa-user-clock"></i>Waiting for approval</button>
			                        {% endif %}

			                         {% if request.user in obj.friends.all %}
				                        <form action="{% url 'profiles:remove-friends' %}" method="POST">
				                            {% csrf_token %}
				                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
				                            <button  type="submit" class="btn btn-outline-danger btn-sm"><i class="minus square icon"></i>Remove from friends</button>
				                        </form>
			                        {% endif %}

								



									</div>
								</div>
							</li>
							
						{% endfor  %}
										</ul>
											<div class="lodmore"><button class="btn-view btn-load-more"></button></div>
										  </div>
										 
										</div>
									</div>
								</div>	
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									
									<div class="widget friend-list stick-widget">
										<h4 class="widget-title">Friends</h4>
										<div id="searchDir"></div>
										<ul id="people-list" class="friendz-list">
											{% for friends in profile.get_friends.all %}
											<li>
												<figure>
													<img src="{{ friends.avatar.url }}" alt="">
													<i class="fa fa-users"></i>
													
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">{{friends}}</a>
													
												</div>
											</li>
											{% endfor  %}
										</ul>
										
									</div><!-- friends list sidebar -->
									<div class="widget">
										<div class="banner medium-opacity bluesh">
											<div class="bg-image" style="background-image: url({% static 'images/resources/baner-widgetbg.jpg' %})"></div>
											<div class="baner-top">
												<span><img  src="{% static 'images/book-icon.png' %}" alt=""></span>
												<i class="fa fa-ellipsis-h"></i>
											</div>
											<div class="banermeta">
												<p>
													create your own favourit page.
												</p>
												<span>like them all</span>
												<a data-ripple="" title="" href="#">start now!</a>
											</div>
										</div>											
									</div>
								</aside>
							</div>

							<!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	
</div>

{% endblock content  %}